<div class="col-lg-4 col-md-5 col-sm-6">
    <div class="main-box clearfix profile-box-menu">
        <div class="main-box-body clearfix">
            <div class="profile-box-header green-bg clearfix" style="background-image: url(../../img/samples/nature2.jpg);">
                <img src="img/samples/angelina-300.jpg" alt="" class="profile-img img-responsive" />
                <h2>APPLICATION<br/>NAME</h2>
                <div class="job-position">
                    Android
                </div>
            </div>

            <div class="profile-box-content clearfix">
                <ul class="menu-items">
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-bell-o fa-lg"></i> API_KEY
                            <span class="label label-danger label-circle pull-right">1234asdf</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-user fa-lg"></i> Platform
                            <span class="label label-success label-circle pull-right">Android</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-calendar fa-lg"></i> Mode
                            <span class="label label-warning label-circle pull-right">Release</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-envelope fa-lg"></i> Error Count
                            <span class="label label-primary label-circle pull-right">44</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-5 col-sm-6">
    <div class="main-box clearfix profile-box-menu">
        <div class="main-box-body clearfix">
            <div class="profile-box-header green-bg clearfix" style="background-image: url(../../img/samples/nature2.jpg);">
                <img src="img/samples/angelina-300.jpg" alt="" class="profile-img img-responsive" />
                <h2>APPLICATION<br/>NAME</h2>
                <div class="job-position">
                    Android
                </div>
            </div>

            <div class="profile-box-content clearfix">
                <ul class="menu-items">
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-bell-o fa-lg"></i> API_KEY
                            <span class="label label-danger label-circle pull-right">1234asdf</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-user fa-lg"></i> Platform
                            <span class="label label-success label-circle pull-right">Android</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-calendar fa-lg"></i> Mode
                            <span class="label label-warning label-circle pull-right">Release</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-envelope fa-lg"></i> Error Count
                            <span class="label label-primary label-circle pull-right">44</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-5 col-sm-6">
    <div class="main-box clearfix profile-box-menu">
        <div class="main-box-body clearfix">
            <div class="profile-box-header green-bg clearfix" style="background-image: url(../../img/samples/nature2.jpg);">
                <img src="img/samples/angelina-300.jpg" alt="" class="profile-img img-responsive" />
                <h2>APPLICATION<br/>NAME</h2>
                <div class="job-position">
                    Android
                </div>
            </div>

            <div class="profile-box-content clearfix">
                <ul class="menu-items">
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-bell-o fa-lg"></i> API_KEY
                            <span class="label label-danger label-circle pull-right">1234asdf</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-user fa-lg"></i> Platform
                            <span class="label label-success label-circle pull-right">Android</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-calendar fa-lg"></i> Mode
                            <span class="label label-warning label-circle pull-right">Release</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-envelope fa-lg"></i> Error Count
                            <span class="label label-primary label-circle pull-right">44</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-5 col-sm-6">
    <div class="main-box clearfix profile-box-menu">
        <div class="main-box-body clearfix">
            <div class="profile-box-header green-bg clearfix" style="background-image: url(../../img/samples/nature2.jpg);">
                <img src="img/samples/angelina-300.jpg" alt="" class="profile-img img-responsive" />
                <h2>APPLICATION<br/>NAME</h2>
                <div class="job-position">
                    Android
                </div>
            </div>

            <div class="profile-box-content clearfix">
                <ul class="menu-items">
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-bell-o fa-lg"></i> API_KEY
                            <span class="label label-danger label-circle pull-right">1234asdf</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-user fa-lg"></i> Platform
                            <span class="label label-success label-circle pull-right">Android</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-calendar fa-lg"></i> Mode
                            <span class="label label-warning label-circle pull-right">Release</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-envelope fa-lg"></i> Error Count
                            <span class="label label-primary label-circle pull-right">44</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-5 col-sm-6">
    <div class="main-box clearfix profile-box-menu">
        <div class="main-box-body clearfix">
            <div class="profile-box-header green-bg clearfix" style="background-image: url(../../img/samples/nature2.jpg);">
                <img src="img/samples/angelina-300.jpg" alt="" class="profile-img img-responsive" />
                <h2>APPLICATION<br/>NAME</h2>
                <div class="job-position">
                    Android
                </div>
            </div>

            <div class="profile-box-content clearfix">
                <ul class="menu-items">
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-bell-o fa-lg"></i> API_KEY
                            <span class="label label-danger label-circle pull-right">1234asdf</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-user fa-lg"></i> Platform
                            <span class="label label-success label-circle pull-right">Android</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-calendar fa-lg"></i> Mode
                            <span class="label label-warning label-circle pull-right">Release</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="clearfix">
                            <i class="fa fa-envelope fa-lg"></i> Error Count
                            <span class="label label-primary label-circle pull-right">44</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>