
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div id="content-header" class="clearfix">
                    <div class="pull-left">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active"><span>Category</span></li>
                        </ol>
                        <h1>Overview</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="panel panel-default" ng-controller="weeklyErrorCtrl">
    <div class="panel-heading clearfix">
        <span class="pull-left"><i class="fa fa-bar-chart-o fa-lg"></i> Weekly Errors</span>
    </div>
    <div class="panel-body" id="trafficWidget">
        <div id="placeholder" class="graph" style="height:250px"></div>
    </div>
</div>

<div class="col-lg-6 col-md-6 col-sm-6" ng-controller="easyChartCtrl">
    <div class="main-box clearfix project-box green-box">
        <div class="main-box-body clearfix">
            <div class="project-box-header green-bg">
                <div class="name">
                    <a href="">
                        Most Session by App Version
                    </a>
                </div>
            </div>

            <div class="project-box-content">
					<span class="chart" easypiechart percent="86" options="optionsGreen">
						<span class="percent"></span>%<br/>
						<span class="lbl">session version</span>
					</span>
            </div>

        </div>
    </div>
</div>

<div class="col-lg-6 col-md-6 col-sm-6" ng-controller="easyChartCtrl">
    <div class="main-box clearfix project-box red-box">
        <div class="main-box-body clearfix">
            <div class="project-box-header red-bg">
                <div class="name">
                    <a href="">
                        Most Error by App Version
                    </a>
                </div>
            </div>

            <div class="project-box-content">
					<span class="chart" easypiechart percent="43" options="optionsRed">
						<span class="percent"></span>%<br/>
						<span class="lbl">error version</span>
					</span>
            </div>

        </div>
    </div>
</div>

<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="main-box small-graph-box emerald-bg">
        <span class="headline">Device</span>
        <span class="value">Galaxy Note 4</span>
        <div class="progress">
            <div style="width: 84%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="84" role="progressbar" class="progress-bar">
            </div>
        </div>
			<span class="subinfo">
				<i class="fa fa-globe"></i> 84% Device Count
			</span>
    </div>
</div>

<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="main-box small-graph-box green-bg">
        <span class="headline">SDK</span>
        <span class="value">5.0.1</span>
        <div class="progress">
            <div style="width: 64%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="84" role="progressbar" class="progress-bar">
            </div>
        </div>
			<span class="subinfo">
				<i class="fa fa-globe"></i> 64% SDK Count
			</span>
    </div>
</div>

<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="main-box small-graph-box red-bg">
        <span class="headline">Country</span>
        <span class="value">Korea</span>
        <div class="progress">
            <div style="width: 44%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="84" role="progressbar" class="progress-bar">
                <!--<span class="sr-only">84% Complete</span>-->
            </div>
        </div>
			<span class="subinfo">
				<i class="fa fa-globe"></i> 44 Country Count
			</span>
    </div>
</div>

<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="main-box small-graph-box yellow-bg">
        <span class="headline">Class</span>
        <span class="value">CLASS_NAME</span>
        <div class="progress">
            <div style="width: 24%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="84" role="progressbar" class="progress-bar">
                <!--<span class="sr-only">84% Complete</span>-->
            </div>
        </div>
			<span class="subinfo">
				<i class="fa fa-globe"></i> 24 Class Count
			</span>
    </div>
</div>

<!--<script type="text/javascript">-->
<!--function load_overview_js() {-->
    <!--var s = document.createElement('script');-->
    <!--console.log("called_load_js");-->
    <!--s.setAttribute('type', 'text/javascript');-->
    <!--s.src = 'js/integrated/endless_dashboard.js';-->
    <!--document.appendChild(s);-->
<!--}-->
<!--</script>-->
